<%- include("header") -%>

<section id="landing">

    <div class="container-fluid">

        <!-- Nav Bar -->

        <%- include("navbar") -%>

        <!-- Title Part -->

        <div class="top-container">
            <h1>I'm Matteo<span class="easter-egg">*</span></h1>
                            
            <div class="typing-container">
                <h2 class="tag-line">
                    <span id="sentence" class="sentence">and I am </span>
                <span id="feature-text"></span>
                <span class="input-cursor"></span>
                </h2>
            </div>

            <img class="world-img" src="/images/globe-light.png" alt="drawing of the globe">
        </div>
    </div>

</section>

<section id="my-map">

    <div class="banner"></div>

    <div class="middle-container">

        <!-- <img class="map-image" src="images/world-map2.png" alt="map of the world" draggable="false"> -->
        <div class="middle-text col-lg-4 col-md-6">
            <h2 class="middle-text-question">Curious about the nomad lifestyle?</h2>
            <a href="/map">
                <button type="button" class="btn btn-dark btn-lg map-button">Check my
                    Map<i class="fa-solid fa-map-location-dot"></i></button>
            </a>
            <p class="button-note">Powered by Google © My Maps</p>
            <h3 class="map-explanation">It's a map that tells the story of my last four years travelling around the world.</h3>
        </div>
    </div>
</section>

<section id="newsletter">
    <div class="banner"></div>
    <div class="container-fluid newsletter-text">
        <main class="form-signin w-100 m-auto">
            <form action="/" method="post">

                <div class="thumb-icon">
                    <img class="mb-4 thumb-image" src="images/icon-nature.png" alt="drawing-nature" width="300"
                        draggable="false">
                </div>

                <h2 class="h3 mb-3 fw-normal">Want to know more?</h2>
                <p class="form-text"> Every now and then, I write some stories and travel tips. <br> <br> If you are curious, don't miss the opportunity of keeping in touch! </p>
                <input type="text" name="fName" class="form-control input-top" placeholder="First Name">
                <input type="text" name="lName" class="form-control input-middle" placeholder="Last Name">
                <input type="email" name="email" class="form-control input-bottom" placeholder="Email">

                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign me up!</button>
            </form>
        </main>
    </div>
</section>

<section id="find-me">

    <div class="banner"></div>
    <div class="bottom-container">
        <h3 class="cta">Or Find Me Here:</h3>
        <a class="social-icon" href="https://www.instagram.com/made_matteo/" target="_blank"><i
                class="fa-brands fa-instagram fa-3x"></i></a>
        <a class="social-icon" href="https://linkedin.com/in/matteodecicco" target="_blank"><i
                class="fa-brands fa-linkedin-in fa-3x"></i></a>
        <a class="social-icon" href="mailto:matteo@madmap.uk" target="_blank"><i
                class="fa-solid fa-envelope fa-3x"></i></a>
        <a class="social-icon" href="https://open.spotify.com/user/%3Dmade%3D" target="_blank"><i
                class="fa-brands fa-spotify fa-3x"></i></a>
        <a class="social-icon" href="https://www.paypal.me/madetraveler" target="_blank"><i
                class="fa-brands fa-paypal fa-3x"></i></a>
    </div>

</section>

<%- include("footer") -%>