<%- include("header") -%>

<section id="landing">

    <div class="container-fluid">

        <!-- Nav Bar -->
        <%- include("navbar") -%>
        
    </div>
</section>

<section id="my-map">
    <div class="map-container">
        <div class="left-hint">
            <h3>Access the legend</h3>
        </div>
        <div class="right-hint">
            <h3>View full screen</h3>
        </div>
        <div class="left-arrow"><i class="fa-solid fa-arrow-right fa-2xl fa-beat-fade"></i></div>
        <div class="right-arrow"><i class="fa-solid fa-arrow-left fa-2xl fa-beat-fade"></i></div>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1rxlFlfZ9D8SFBWCp5_L6I4cngKJZF19f&ehbc=2E312F"
            width="90%" height="760" title="Interactive map showing my travels" loading="eager"></iframe>
    </div>
</section>

<section id="find-me">

    <div class="banner"></div>
    <div class="bottom-container">
        <h3 class="cta">Find Me Here:</h3>
        <a class="social-icon" href="https://www.instagram.com/made_matteo/" target="_blank"><i
                class="fa-brands fa-instagram fa-3x"></i></a>
        <a class="social-icon" href="https://linkedin.com/in/matteodecicco" target="_blank"><i
                class="fa-brands fa-linkedin-in fa-3x"></i></a>
        <a class="social-icon" href="mailto:matteo@madmap.uk" target="_blank"><i
                class="fa-solid fa-envelope fa-3x"></i></a>
        <a class="social-icon" href="https://open.spotify.com/user/%3Dmade%3D" target="_blank"><i
                class="fa-brands fa-spotify fa-3x"></i></a>
        <a class="social-icon" href="https://www.paypal.me/madetraveler" target="_blank"><i
                class="fa-brands fa-paypal fa-3x"></i></a>
    </div>

</section>


<%- include("footer") -%>