/************ HTML ELEMENTS STYLE ************/

body {
    background-color: #2f312f;
    color: rgb(254, 245, 225);
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 4.5rem;
    font-family: 'Seymour One', sans-serif;
    margin-bottom: 3%;
}

h2 {
    font-size: 3.3rem;
    font-weight: 100;
}

h3 {
    font-size: 1.4rem;
    line-height: 2rem;
}

iframe {
    border: 0;
}



/************ CLASSES STYLE ************/
.container-fluid {
    padding: 0%;
    background-color: #889195;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(198, 6%, 56%, 1)'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linecap='square' stroke-width='0.5' stroke='hsla(231, 8%, 65%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-40,-1.712)' fill='url(%23a)'/></svg>")}

/* Navigatio Bar */
.navbar {
    background-color: #2f312f;
    padding: 10px 80px 10px 80px;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 300;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.3rem;
    font-weight: 300;
}

.easter-egg {
    font-size: 1rem;
    margin-bottom: 4rem;
}

/* Type-writer Effect section */
.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 45px;
    background-color: rgb(254, 245, 225);
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* Merging sections */
.top-container {
    text-align: center;
    margin-top: 7%;
    margin-bottom: -70px;
    position: relative;
}

.world-img {
    position: relative;
    z-index: 30;
}

.banner {
    height: 10px;
    background-color: #2f312f;
}

.tag-line {
    padding-top: 30px;
    margin-bottom: 3%;
}

.middle-container {
    text-align: center;
    /* background-color: #bacdfb; */
    background-image: url(../images/world-map.png);
    background-size: auto 600px;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    height: 600px;
}

.middle-text {
    position: absolute;
    top: 30%;
    left: 4%;
}

.middle-text-question {
    padding-left: 2%;
    padding-right: 2%;
}

.fa-map-location-dot {
    margin-left: 5px;
}

/* Map Button */
.map-button {
    margin: 5% 5% 0% 0%;
}

.button-note {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 5px;
    margin-left: -22px;
    margin-bottom: 35px;
    color: #2f312f;
}

/* Map Image */
.map-image {
    max-width: 100%;
}

/* Map Page container */
.map-container {
    color: #2f312f;
    text-align: center;
    background-color: #889195;
    position: relative;
}

.right-hint {
    position: absolute;
    top: 6%;
    right: 7%;
}

.left-hint {
    position: absolute;
    top: 6%;
    left: 7%;
}

.right-arrow {
    position: absolute;
    top: 7.2rem;
    right: 4%;
}

.left-arrow {
    position: absolute;
    top: 7.2rem;
    left: 4%;
}

iframe {
    padding: 0 2% 0 2%;
    ;
    margin: 6rem 0 8% 0;
}

/* Newsletter Section */

.newsletter-text {
    text-align: center;
}

.form-text {
    font-size: 1.2rem;
    font-weight: 100;
    color: rgb(254, 245, 225);
    margin: 0% 0% 6% 0%;
}

.form-signin {
    background-color: #889195;
}

.thumb-icon {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.thumb-image {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.input-top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.input-middle {
    border-radius: 0;
    margin-bottom: -1px;
}

.input-bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bottom-container {
    text-align: center;
    padding: 1% 0% 3%;
    background-color: #889195;
}

/* Success and Failure pages */
.container-text {
    padding: 7% 10% 7% 10%;
}

.container-text > h1 {
    font-size: 3rem;
}

.container-text > h2 {
    font-size: 2.5rem;
}

.container-text button {
    margin: 7% 0% 7% 2%;
}

.cta {
    margin-bottom: 50px;
}

.social-icon {
    margin: 20px 30px;
    color: rgb(254, 245, 225);
}

.social-icon:hover {
    color: #2f312f;
}

/* Easter Egg section */
h1 span:hover {
    color: #5c615c;
}


/************ ID STYLE ************/
#footer {
    background-color: #2f312f;
    padding: 2% 2%;
    color: #889195;
    text-align: center;
    font-weight: 100;
    font-size: 1.1rem;
}


@media (max-width: 768px) {

    h2 {
        font-size: 3rem;
    }

    .navbar {
        padding: 10px 50px 10px 50px;
    }

    .world-img {
        width: 440px;
    }

    .middle-container {
        background-position: 15% 50%;
    }

    .middle-text {
        position: absolute;
        top: 20%;
        left: 0%;
    }

    .middle-text-question {
        color: #2f312f;
    }
    
    .map-button {
        margin: 12% 0% 0% 0%;
    }

    .button-note {
        font-size: 0.7rem;
        text-align: center;
        margin-top: 5px;
        margin-left: -22px;
        margin-bottom: 60px;
        color: #2f312f;
    }

    .map-explanation {
        color: #2f312f;
        padding: 0% 7% 0% 7%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 3.7rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .navbar {
        padding: 10px 30px 10px 30px;
    }

    .top-container {
        margin-top: 15%;
        margin-bottom: -40px;
    }

    .world-img {
        width: 350px;
    }

    .middle-container {
        background-position: center;
    }

    .map-image {
        height: 100%;
    }

    .middle-text {
        top: 12%;
    }

    .middle-text-question {
        color: #2f312f;
        font-weight: 200;
    }

    .map-button {
        margin: 12% 0% 0% 0%;
    }

    .button-note {
        font-size: 0.7rem;
        text-align: center;
        margin-top: 5px;
        margin-left: -22px;
        margin-bottom: 175px;
        color: #2f312f;
    }

    .map-explanation {
        color: #2f312f;
        padding: 0% 5% 0% 5%;
    }

    .h3 {
        visibility: hidden;
    }

    .form-text {
        font-size: 1.2rem;
        color: rgb(254, 245, 225);
        margin: -18% 0% 6% 0%;
    }
    
}